.luto_btn {
    background-color: #fe5b29;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    white-space: nowrap;
}

.luto_btn:hover {
    background-color: #808080;
}
.right_luto_btn {
    padding-top:25px
}

   /* Usunięcie strzałek z pól liczbowych */
   input[type="number"]::-webkit-inner-spin-button,
   input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none; /* Wyłączenie w przeglądarkach opartych na WebKit */
      margin: 0;
   }

   input[type="number"] {
      -moz-appearance: textfield; /* Wyłączenie w przeglądarkach Firefox */
   }

.select-outline {
    display: flex;
    flex-direction: column; /* Ustawia kolumnowy układ dla etykiety i pola */
    align-items: center; /* Wyśrodkowanie w poziomie */
}

.select-outline label {
    margin-bottom: 0.5rem; /* Dodatkowy odstęp między etykietą a polem */
    text-align: center; /* Wyśrodkowanie tekstu w etykiecie */
}

.form-control {
    width: 100%; /* Jeśli chcesz, aby pole zajmowało pełną szerokość */
}



