<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- site metas -->
    <title>Book a Car</title>
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!-- Responsive -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="/images/fevicon.png" type="image/gif" />
    <!-- font css -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Raleway:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- Button -->
    <link rel="stylesheet" href="/css/button.css">
</head>
<body>
<!-- header section start -->
<div class="header_section">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/index"><img src="/images/logo.png" alt="Logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/index">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="/gallery">Vehicles</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                    <li class="nav-item" th:if="${session.loggedInUser == null}"><a class="nav-link" href="/login">Sign in</a></li>
                    <li class="nav-item" th:if="${session.loggedInUser == null}"><a class="nav-link" href="/register">Sign up</a></li>
                    <!-- Rozwijana opcja My Account dla zalogowanych użytkowników -->
                    <li class="nav-item dropdown" th:if="${session.loggedInUser != null}">
                        <a class="nav-link dropdown-toggle" href="#" id="myAccountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            My Account
                        </a>
                        <div class="dropdown-menu" aria-labelledby="myAccountDropdown">
                            <!-- Opcje dla zwykłych użytkowników -->
                            <a class="dropdown-item" href="account_details" th:if="${session.loggedInUser instanceof T(com.example.CarGo.models.User)}">Change Account Details</a>
                            <a class="dropdown-item" href="view_reservations" th:if="${session.loggedInUser instanceof T(com.example.CarGo.models.User)}">View Reservations</a>

                            <!-- Opcje dla menedżerów -->
                            <a class="dropdown-item" href="manageReservations" th:if="${session.loggedInUser instanceof T(com.example.CarGo.models.Manager)}">Manage Reservations</a>
                            <a class="dropdown-item" href="services" th:if="${session.loggedInUser instanceof T(com.example.CarGo.models.Manager)}">Manage Vehicles</a>

                            <!-- Opcje dla administratorów -->
                            <a class="dropdown-item" href="adminDashboard" th:if="${session.loggedInUser instanceof T(com.example.CarGo.models.Admin)}">Admin Dashboard</a>
                            <a class="dropdown-item" href="client" th:if="${session.loggedInUser instanceof T(com.example.CarGo.models.Admin)}">Manage Users</a>
                        </div>
                    </li>
                    <li class="nav-item" th:if="${session.loggedInUser != null}"><a class="nav-link" href="/signout">Sign out</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<!-- header section end -->
<div class="call_text_main">
    <div class="container">
        <div class="call_taital">
            <div class="location_text_up">
                <a href="https://www.google.com/maps/place/Wydzia%C5%82+Ekonomiczno-Socjologiczny+Uniwersytetu+%C5%81%C3%B3dzkiego/@51.7752141,19.4611604,17z/data=!3m2!4b1!5s0x471bcb27fb23fb65:0xc900bfbd73fd4323!4m6!3m5!1s0x471bcb27d95ca219:0x7a09bc332d4a8d73!8m2!3d51.7752141!4d19.4637353!16s%2Fg%2F120l7rrv?entry=ttu&g_ep=EgoyMDI0MTAyOS4wIKXMDSoASAFQAw%3D%3D" target="_blank">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span class="padding_left_15">Location</span>
                </a>
            </div>
            <div class="location_text_up">
                <a href="#" onclick="copyToClipboard('(+48) 426355356')">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span class="padding_left_15">(+48) 426355356</span>
                </a>
            </div>
            <div class="location_text_up">
                <a href="#" onclick="copyToClipboard('cargomailboxpl@gmail.com')">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span class="padding_left_15">cargomailboxpl@gmail.com</span>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- booking form section start -->
<div class="booking_section layout_padding">
    <div class="container" style="padding-bottom: 20px;">
        <h1 class="booking_title">Book Your Car</h1>
        <div class="row">
            <div class="col-md-12">
                <h3 class="car_details" th:text="'Booking for ' + ${car.make} + ' ' + ${car.model}">Car Make and Model</h3>
                <p class="car_details" th:text="'Registration Number: ' + ${car.registrationNumber}">Registration Number: N/A</p>
                <p class="car_details" th:text="'VIN: ' + ${car.vin}">VIN: N/A</p>
                <p class="car_details" th:text="'Pick-up Location: ' + ${location}">Pick-up Location: Unknown</p>
                <p class="car_details" th:text="'Start Date: ' + ${startDate}">Start Date</p>
                <p class="car_details" th:text="'End Date: ' + ${endDate}">End Date</p>
            </div>
        </div>
        <!-- Booking form -->
        <form th:action="@{/reserve}" method="post">
            <!-- Hidden fields for car and booking details -->
            <input type="hidden" name="carId" th:value="${car.id}" />
            <input type="hidden" name="location" th:value="${location}" />
            <input type="hidden" name="startDate" th:value="${startDate}" />
            <input type="hidden" name="endDate" th:value="${endDate}" />

            <!-- Only allow selection of return location -->
            <div class="form-group">
                <label for="returnLocation">Return Location</label>
                <select id="returnLocation" name="returnLocation" class="form-control" required>
                    <option value="Warszawa">Warszawa</option>
                    <option value="Kraków">Kraków</option>
                    <option value="Wrocław">Wrocław</option>
                    <option value="Łódź">Łódź</option>
                    <option value="Poznań">Poznań</option>
                    <option value="Gdańsk">Gdańsk</option>
                </select>
            </div>
            <div class="button-group">
                <button type="submit" class="luto_btn">Confirm Renting</button>
                <button type="button" class="luto_btn" onclick="window.history.back()">Return</button>
            </div>
        </form>
    </div>
</div>
<!-- booking form section end -->


<!-- footer section start -->
<div class="footer_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footeer_logo"><img src="images/logo.png"></div>
            </div>
        </div>
        <div class="footer_section_2">
            <div class="row">
                <div class="col">
                    <h4 class="footer_taital">Subscribe Now</h4>
                    <p class="footer_text">Enter your email and we'll reach you to stay in touch!</p>

                    <form action="/subscribe" method="POST" class="form-group">
                        <textarea class="update_mail" placeholder="Enter Your Email" rows="1" id="email" name="email"></textarea>
                        <button type="submit" class="subscribe_bt btn btn-primary">Subscribe</button>
                    </form>
                </div>
                <div class="col">
                    <h4 class="footer_taital">Information</h4>
                    <p class="lorem_text">CarGo is the fastest-growing car rental with the HQ in Łódź, Poland.</p>
                </div>
                <div class="col">
                    <h4 class="footer_taital">Our offer</h4>
                    <p class="lorem_text">We offer an increasing number of cars in multiple locations.</p>
                </div>
                <div class="col">
                    <h4 class="footer_taital">Invesments</h4>
                    <p class="lorem_text">We constantly invest in CarGo increasing our customer base in Poland.</p>
                </div>
                <div class="col">
                    <h4 class="footer_taital">Contact Us</h4>
                    <div class="location_text">
                        <a href="https://www.google.com/maps/place/Wydzia%C5%82+Ekonomiczno-Socjologiczny+Uniwersytetu+%C5%81%C3%B3dzkiego/@51.7752141,19.4611604,17z/data=!3m2!4b1!5s0x471bcb27fb23fb65:0xc900bfbd73fd4323!4m6!3m5!1s0x471bcb27d95ca219:0x7a09bc332d4a8d73!8m2!3d51.7752141!4d19.4637353!16s%2Fg%2F120l7rrv?entry=ttu&g_ep=EgoyMDI0MTAyOS4wIKXMDSoASAFQAw%3D%3D" target="_blank">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span class="padding_left_15">Location</span>
                        </a>
                    </div>
                    <div class="location_text">
                        <a href="#" onclick="copyToClipboard('(+48) 426355356')">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span class="padding_left_15">(+48) 426355356</span>
                        </a>
                    </div>
                    <div class="location_text">
                        <a href="#" onclick="copyToClipboard('cargomailboxpl@gmail.com')">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span class="padding_left_15">cargomailboxpl@gmail.com</span>
                        </a>
                    </div>
                    <div class="social_icon">
                        <ul>
                            <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="https://x.com/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer section end -->

<!-- JS scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/custom.js"></script>
<script src="js/clipboard.js"></script>
<script src="js/subscribe.js"></script>
</body>
</html>