<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- site metas -->
   <title>Gallery</title>
   <!-- bootstrap css -->
   <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
   <!-- style css -->
   <link rel="stylesheet" type="text/css" href="css/style.css">
   <!-- Responsive-->
   <link rel="stylesheet" href="css/responsive.css">
   <!-- fevicon -->
   <link rel="icon" href="images/fevicon.png" type="image/gif" />
   <!-- font css -->
   <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Raleway:wght@400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
<!-- header section start -->
<div class="header_section">
   <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="Logo"></a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
               <li class="nav-item"><a class="nav-link" href="index">Home</a></li>
               <li class="nav-item"><a class="nav-link" href="about">About</a></li>
               <li class="nav-item"><a class="nav-link" href="services">Services</a></li>
               <li class="nav-item"><a class="nav-link" href="gallery">Vehicles</a></li>
               <li class="nav-item"><a class="nav-link" href="client">Client</a></li>
               <li class="nav-item"><a class="nav-link" href="contact">Contact</a></li>
               <li class="nav-item"><a class="nav-link" href="login">Sign in</a></li>
               <li class="nav-item"><a class="nav-link" href="register">Sign up</a></li>
            </ul>
         </div>
      </nav>
   </div>
</div>
<!-- header section end -->
<div class="gallery_section layout_padding">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h1 class="gallery_taital">Our best offers</h1>
         </div>
      </div>
      <div class="gallery_section_2">
         <div class="row">
            <!-- Pętla przez listę samochodów -->
            <div th:each="car : ${cars}" class="col-md-4">
               <div class="gallery_box">
                  <h3 class="types_text" th:text="${car.make} + ' ' + ${car.model}">Car Make and Model</h3> <!-- Marka i model samochodu -->
                  <p class="looking_text" th:text="'Registration Number: ' + ${car.registrationNumber}">Registration Number: N/A</p> <!-- Numer rejestracyjny -->
                  <p class="looking_text" th:text="'VIN: ' + ${car.vin}">VIN: N/A</p> <!-- VIN -->
                  <p class="looking_text" th:text="'Year of Production: ' + ${car.yearOfProduction}">Year of Production: N/A</p> <!-- Rok produkcji -->
                  <p class="looking_text" th:text="'Seat Count: ' + ${car.seatCount}">Seat Count: N/A</p> <!-- Liczba miejsc -->
                  <p class="looking_text" th:text="'Status: ' + ${car.status}">Status: N/A</p> <!-- Status -->
                  <div class="read_bt"><a th:href="@{/book/${car.id}}">Book Now</a></div> <!-- Link do rezerwacji -->
               </div>
            </div>
            <!-- Koniec pętli -->
         </div>
      </div>
   </div>
</div>
<!-- gallery section end -->
<!-- footer section start -->
<div class="footer_section layout_padding">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="footeer_logo"><img src="images/logo.png" alt="Logo"></div>
         </div>
      </div>
   </div>
</div>
<!-- footer section end -->
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/custom.js"></script>
</body>
</html>