<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- Style login CSS -->
    <link rel="stylesheet" type="text/css" href="css/login-style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Font CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Raleway:wght@400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
<!-- Header section with navbar -->
<div class="header_section">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="Logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="index">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="services">Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="gallery">Vehicles</a></li>
                    <li class="nav-item"><a class="nav-link" href="client">Client</a></li>
                    <li class="nav-item"><a class="nav-link" href="contact">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="login">Sign in</a></li>
                    <li class="nav-item"><a class="nav-link" href="register">Sign up</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<!-- Login Section Start -->
<div class="contact_section layout_padding">
    <div class="container">
        <div class="login-form-container">
            <h1>Sign In</h1>
            <!-- Wyświetlanie komunikatu o błędzie logowania -->
            <div th:if="${error}" class="alert alert-danger" role="alert">
                <p th:text="${error}"></p>
            </div>
            <form action="/login" method="POST">
                <div class="form-group">
                    <input type="text" placeholder="Login" name="login" required>
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" name="password" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Sign In</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Login Section End -->

<!-- Footer Section Start -->
<div class="footer_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer_logo"><img src="images/logo.png" alt="Logo"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>